.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #555; /* Fondo plomo */
}

.login-box {
  background-color: #ddd;
  padding: 40px 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.login-logo {
  background-color: #ffeb3b; /* amarillo */
  color: #0d47a1;           /* azul */
  font-size: 48px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto 20px auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.login-box h2 { margin-bottom: 20px; color: #222; }

.login-box input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #0d47a1; /* azul */
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s;
}

.login-box button:hover { background-color: #1565c0; }

.error-msg { color: red; margin-top: 12px; }
